/*
    색상 정의
*/

$white : #fff;
$black : #010101;
$lightBlack : #070707;
$darkGray : #1B1E1A;
$blackGray : #0D0D0D;
$grayFont : #666;
$grayFontLight : #888;
$grayOp : #161E16;
$gray-5B : #5B5B5B;
$gray-73 : #737473;
$neon : #3AFF17;
$neonBlue : #0FC69E;
$neonDark : #151D15;

/*
    경로 정의
*/
$font-path: './fonts';
$icon-path: '../images/icon';
$bg-path: '../images/bg';

/*
    font 정의
*/

$Poppins: 'Poppins';